/*NAVIGATION BAR BLURRY*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li, a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #04070D;
    text-decoration: none;
}

header {
display: flex;
justify-content: flex-end;
align-items: center;
padding: 20px 10%;
height: 77px;
width:100%;
position: fixed;
background: rgba(255,255,255,0.1) !important;
z-index: 2;
backdrop-filter: blur(30px) saturate(125%);                   
-webkit-backdrop-filter: blur(10px) saturate(125%);
}

.logo {
    display:flex;
    cursor: pointer;
    margin-right: auto;
    align-items: center; 
}
.logoBlack {
    margin-right: 5px;
}
 .nav_links {
    list-style: none;
} 
.nav_links li {
display: inline-block;
padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}
.nav_links li a:hover {
    color: red;
}
body{
    background-color: white;
}

/*section cover page*/


/* .heroshot ,h1 ,.portrait{
    transform: translate(0, 77px);
    width: 100%;
    display: inline-flex;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 114px;

    
} */

.heroshot {
    transform: translate(0, 77px);
    display: inline-flex;
    justify-content: flex-start;
    padding: 0px, 0%;
    width:100%;
    margin-left: auto;
    font-family: "roboto", sans-serif;
    
    font-size: 114px;

    
}
.heroshot h1{
    
}
.portrait{
    height: 690px;
    width: 690px;
    
}










/* FAILED V.2 OF NAV BAR

.inline-block li {
    display: inline-block;
    vertical-align: baseline;
}

header {
    background-color:blanchedalmond;
    width: 100%;
    height: 70px;
    padding: 1%; 
}


.logoBlack {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
   width: auto;
   padding: 1%; 
   float: right;
   margin-top: auto;
}

ul {
    width: 50%;
    margin-top: auto;
    color: black;
}

li {
    display: inline-block;

} */
